[package]
name = "avdl"
version = "0.1.0"
edition = "2024"

[dependencies]
antlr4rust = "0.5.2"
clap = { version = "4", features = ["derive"] }
indexmap = { version = "2", features = ["serde"] }
miette = { version = "7", features = ["fancy"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "2"

[dev-dependencies]
insta = "1"
pretty_assertions = "1"
