[package]
name = "avdl"
version = "0.1.0+1.12.1"
edition = "2024"

[dependencies]
antlr4rust = "0.5.2"
clap = { version = "4", features = ["derive"] }
indexmap = { version = "2", features = ["serde"] }
miette = { version = "7", features = ["fancy"] }
ryu = "1.0.22"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["preserve_order"] }
thiserror = "2"

[dev-dependencies]
assert_cmd = "2.1.2"
insta = "1"
predicates = "3.1.3"
pretty_assertions = "1"
